<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Q2</servlet-name>
        <servlet-class>Q2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Q3</servlet-name>
        <servlet-class>Q3</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Q4</servlet-name>
        <servlet-class>Q4</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Q5</servlet-name>
        <servlet-class>Q5</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Q6</servlet-name>
        <servlet-class>Q6</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Q7</servlet-name>
        <servlet-class>Q7</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Q8</servlet-name>
        <servlet-class>Q8</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Q9</servlet-name>
        <servlet-class>Q9</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Q10</servlet-name>
        <servlet-class>Q10</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Q11</servlet-name>
        <servlet-class>Q11</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Q12</servlet-name>
        <servlet-class>Q12</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Q2</servlet-name>
        <url-pattern>/Q2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Q3</servlet-name>
        <url-pattern>/Q3</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Q4</servlet-name>
        <url-pattern>/Q4</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Q5</servlet-name>
        <url-pattern>/Q5</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Q6</servlet-name>
        <url-pattern>/Q6</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Q7</servlet-name>
        <url-pattern>/Q7</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Q8</servlet-name>
        <url-pattern>/Q8</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Q9</servlet-name>
        <url-pattern>/Q9</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Q10</servlet-name>
        <url-pattern>/Q10</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Q11</servlet-name>
        <url-pattern>/Q11</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Q12</servlet-name>
        <url-pattern>/Q12</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
